body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background-color: red;
}

nav li:last-child a:hover {
  background-color: #b23301;
}

nav li a {
  transition: all 0.3s ease;
}

nav li a:hover {
  color: #fe5f1e;
}

section.hero {
  background: #f8f8f8;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: all 0.3s ease;
}

.add-to-cart:hover {
  background: #fe5f1e;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  transition: all 0.3s ease;
  background: #fe5f1e;
}

.btn-primary:hover {
  background: #b23301;
}

section.empty-cart {
  background-color: #f8f8f8;
}

section.empty-cart .amount {
  color: #fe5f1e;
}

section.login {
  background-color: #f8f8f8;
  min-height: calc(100vh - 86px);
}

section.login .py-12 {
  padding-top: 0rem;
  padding-bottom: 10rem;
}

section.login a {
  color: #fe5f1e;
}

section.login a:hover {
  color: #b23301;
}
