@import "./var";
@import '../../node_modules/noty/src/noty.scss';
@import '../../node_modules/noty/src/themes/mint.scss';

body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background-color: red;
    &:hover {
        background-color: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

section.hero {
    background: $secondary;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1100px;
    }
}

.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary {
    transition: $smooth;
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

section.empty-cart {
    background-color: $secondary;
    .amount {
        color: $primary;
    }
}

section.login {
    background-color: $secondary;
    min-height: calc(100vh - 86px);

    .py-12 {
        padding-top: 0rem;
        padding-bottom: 10rem;
    }

    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}
